table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px 7px;
}

.list {
    margin-top: 20px;
}

.btn-top {
    margin: 20px 0;
}

.not {
    width: 100%;
}